.contact {
    background: rgb(239, 29, 204);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }


input {
  width: 600px;
}
textarea {
  height: 10em;
  width: 600px;
}