
.contact-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
input {
  width: 45vh;
}
textarea {
  height: 10em;
  width: 45vh;
}

h3 {
  text-align: center;
  margin-bottom: 1%;
}
.form-item {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
}
.contact-form {
  background-color: aqua;
  margin: auto;
  padding: 1%;

}

.button {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4eb5f1;
  transition: all 0.2s;
}
.button:hover{
  background-color:#4095c6;
}
@media all and (max-width:30em){
  button{
  display:block;
  margin:0.2em auto;
  }
}
